{% extends './base.html' %}

{% load static %}


{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="containerAgregar">
    <h1>Agregar Productos</h1>
    <form id="agregarProductos" action="/agregarProductosForm" method="POST">{% csrf_token %}
        <div class="row mt-5">
            <div class="col-md-4">
                <label for="txtSku">SKU:</label>
                <input name="txtSku" id="txtSku" type="text" class="form-control">
            </div>
            <div class="col-md-8">
                <label for="txtNombre">Nombre:</label>
                <input name="txtNombre" id="txtNombre" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="txtPrecio">Precio:</label>
                <input name="txtPrecio" id="txtPrecio" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="txtStock">Stock:</label>
                <input name="txtStock" id="txtStock" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="cmbCategoria">Categoria:</label>
                <select id="cmbCategoria" name="cmbCategoria" class="form-select" aria-label="Default select example">
                    <option disabled selected>Seleccione</option>
                    {% for c in cate %}
                    <option value="{{c.idCategoria}}">{{c.nombre_categoia}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12">
                <label for="txtImagen">Imagen:</label>
                <input name="txtImagen" id="txtImagen" type="text" class="form-control">
            </div>
        </div>

        <button class="btn btn-success mt-5 w-100">Agregar Producto</button>
    </form>
</div>



<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/agregarProductos.js' %}"></script>
<script src="{% static 'js/apiClima.js' %}"></script>
<script src="{% static 'js/reloj.js' %}"></script>
<script src="{% static 'js/darkMode.js' %}"></script>
{% endblock %}