{% extends './base.html' %}

{% load static %}


{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="d-flex justify-content-center mt-5">
    <h1>Editar Productos</h1>
</div>

<div class="container">
    <form id="editarProductos" action="">
        <div class="row">
            <div class="col mt-3">
                <label for="txtIdProducto">Id:</label>
                <input id="txtIdProducto" name="txtIdProducto" type="text" class="form-control">
                <br>
                <label for="txtNombreProducto">Nombre:</label>
                <input id="txtNombreProducto" name="txtNombreProducto" type="text" class="form-control">
                <br>
                <label for="txtPrecioProducto">Precio:</label>
                <input id="txtPrecioProducto" name="txtPrecioProducto" type="number" class="form-control">
                <br>

            </div>
            <!-- <div class="col mt-3">
                <br> 
                <br>
            </div> -->
            <button class="btn btn-success mt-3">Confirmar </button>
        </div>
    </form>
</div>
</div>


<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/editarProductos.js' %}"></script>
<script src="{% static 'js/apiClima.js' %}"></script>
<script src="{% static 'js/reloj.js' %}"></script>
<script src="{% static 'js/darkMode.js' %}"></script>
{% endblock %}